<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jms="http://www.springframework.org/schema/jms" xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<mvc:annotation-driven/>
	<context:annotation-config/>
	<!-- <context:component-scan base-package="com.epam.cdp.sender.bean"/>
	<context:component-scan base-package="com.epam.cdp.sender.controller"/>
	<context:component-scan base-package="com.epam.cdp.sender.service"/> -->
	
	<bean id="connectionFactory" 
		class="org.apache.activemq.spring.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${jms.url}"/>
	</bean>
	
	<jms:listener-container acknowledge="transacted" connection-factory="connectionFactory">
		<jms:listener destination="${jms.reportQueue.name}" 
			ref="reportListener" method="onMessage" />
			
		<!-- <jms:listener destination="${jms.errorQueue.name}" 
			ref="errorListener" method="onMessage" /> -->
	</jms:listener-container>
	
	<!-- <bean id="orderQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="${jms.orderQueue.name}"/>
	</bean> -->
	
	<bean id="jmsTemplate" 
		class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory"/>
	</bean>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config.properties"/>
	</bean>
</beans>